<div *ngIf="room_id">
  <div class="container">

    <div class="col-md-6">
      <h2 class="text-center">Activities</h2>
      <div>
        <table class="table table-striped">
          <thead>
            <tr style="text-align: center;">
              <th style="text-align: center;">Activity Name</th>
              <th style="text-align: center;">Start Time</th>
              <th style="text-align: center;">End Time</th>
              <th style="text-align: center;">View</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activity of activityList | paginate: { itemsPerPage: 10, currentPage: p }">
              <td style="text-align: center;"> {{ activity.name }} </td>
              <td style="text-align: center;"> {{ activity.start_time }} </td>
              <td style="text-align: center;"> {{ activity.end_time }} </td>
              <td style="text-align: center;"><button class="btn btn-primary" (click)="viewActivity(activity)">View</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="text-center">Children</h2>
      <div>
        <table class="table table-striped">
          <thead>
            <tr style="text-align: center;">
              <th style="text-align: center;">Select</th>
              <th style="text-align: center;">Name</th>
              <th style="text-align: center;">DOB</th>
              <th style="text-align: center;">Allergens</th>
              <th style="text-align: center;">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let child of childrenList">
              <td style="text-align: center;"><input type="checkbox" value="{{ child.id }}"></td>
              <td style="text-align: center;"> {{ child.first_name }} {{ child.last_name }}</td>
              <td style="text-align: center;"> {{ formatDate(child.dob) }} </td>
              <td style="text-align: center;"> {{ child.allergens }} </td>
              <td style="text-align: center;"><button class="btn btn-primary" (click)="viewNotes(child.notes)">View</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!room_id">
  <p style="text-align:center; font-size: 25px;">You are not logged into a room</p>
</div>