<html>
    <!-- left side column -->
      <div class = "act_info_box">

        <h2>Activities</h2>
        <md-list class= "act_info" *ngFor="let activity of activities" (click)="clickableBoi($event.currentTarget,$event.target,3)" >
            <h1><b>Activity Name</b></h1>
            <input type="checkbox" class = "act_checkbox" ng-model ="checkbox" >
          <p class ="act_p"><b>time:</b> time period - time period</p>
        </md-list>

      </div>
    <!-- middle stuff -->
          <div class="mid_section">
              <h3>About {{currentChild.firstName}} {{currentChild.familyName}}</h3>
              <p><b>DOB:</b> {{currentChild.dob}}</p>
              <br>
              <h3><b>Information</b></h3>
              <p><b>Allergies:</b> {{currentChild.allergens}}</p>
              <br>
              <h3>Notes:</h3>
              <div class="noteDisplay">
                <li class="list-group-item" *ngFor="let note of currentChild.notes"><b>{{note.author}}:</b> {{note.note}} (<i>{{note.date}}</i>)</li>
              </div>
          </div>
    <!-- right column -->
    <div class = "child_info_box">

              <h2>Children</h2>
              <md-list class= "child_info" *ngFor="let child of  enrolledChildren" (click)="clickableBoi($event.currentTarget,$event.target,1)" >
                <input type="checkbox" class = "act_checkbox_kid" ng-model ="checkbox" >
                <h1>{{child.firstName}}</h1>
              </md-list>
            </div>
    </html>
