<div>
  <h2 md-dialog-title>Activity: {{data.activity}}</h2>
  <hr>
  <md-dialog-content>
    <pre>{{data.data}}</pre>
    <hr>
    <form>
      <div class="form-group">
        <label>Leave a comment</label>
        <input type="textarea" [(ngModel)]="comment" name="comment" class="form-control">
      </div>
    </form>
  </md-dialog-content>
  <hr>
  <md-dialog-actions>
    <button md-raised-button (click)="onCloseConfirm()">CONFIRM</button>
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>
  </md-dialog-actions>
</div>