.profile {
	height: 600px;
	margin-bottom: 25px;
}

.imgBox {
	height: 80%;
	width: 50%;
	float: left;
	text-align: center;
}

.infoBox {
	height: 100%;
	width: 50%;
	float: right;
}

.information {
	height: 50%;
}

.notes {
	height: 50%;
}

.noteField {
	height: 80%;
}

.noteButton {
	height: 20%;
	margin-left: 15px;
}

.noteDisplay {
	height:170px;
	width:100;
	border:1px solid #ccc;
	overflow:auto;
	margin-left: 15px;
}

.activityBox {
	height: 500px;
	width: 65%;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 50px;
}

.activityCard {
	margin-bottom: 10px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.row {
	margin-left: 15px;
	margin-top: 15px;
}