#wrapper {
    width: 500px;
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
}
#first {
    width: 300px;
    float:left; /* add this */
    border: 1px solid red;
}
#second {
    border: 1px solid green;
    float: left; /* add this */
}

.profile {
	height: 500px;
	border: 1px solid red;
	margin-bottom: 50px;
}

.box {
	height: 100%;
	width: 50%;
	float: right;
}

.information {
	height: 50%;
	border: 1px solid blue;
}

.notes {
	height: 50%;
	border: 1px solid green;
}

.activityBox {
	height: 500px;
	width: 65%;
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid red;
}