<div class="profile">

    <!-- Image Box -->
    <div class="imgBox">
      <span class="helper"></span>
      <img src="http://placehold.it/450x450">
    </div>

    <!-- Information Box -->
    <div class="infoBox">

        <!-- Child Information -->
        <div class="information">
          <div class="row">
            <legend>Profile</legend>
            <ul class="list-group">
              <li class="list-group-item"><b>First Name: </b>{{childInfo.first_name}}</li>
              <li class="list-group-item"><b>Last Name: </b>{{familyName}}</li>
              <li class="list-group-item"><b>Address: </b>{{address}}</li>
              <li class="list-group-item"><b>DOB: </b>{{childInfo.dob}}</li>
              <li class="list-group-item"><b>Allergens: </b>{{childInfo.allergens}}</li>
            </ul>
          </div>
        </div>

        <!-- Child Notes -->
        <div class="notes">
          <div class="noteField">
            <legend style="margin-left: 15px;">Notes</legend>
            <div class="noteDisplay">
              <li class="list-group-item" *ngFor="let note of notesArray">{{note}}</li>
            </div>
          </div>
          <div class="noteButton">
            <button (click)="addNote()">Add Note</button>
          </div>
        </div>
    </div>
</div>

<legend style="padding-bottom: 15px;">
  Viewing Activities for: <ng2-datepicker [options]="options" (ngModelChange)="getCurrentDate($event)" [(ngModel)]="date"></ng2-datepicker>
</legend>

<!-- Child Activities -->
<div class="activityBox">
	<md-card class="activityCard" *ngFor="let activity of selectedActivities">
  <md-card-header>
    <md-card-title>{{activity.name}} - {{activity.type}}</md-card-title>
    <md-card-subtitle>{{activity.start_time}} - {{activity.end_time}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>{{activity.description}}</p>
  </md-card-content>
  <md-card-actions>
    <div>
    <button (click)="addComment(activity)" md-button>COMMENT</button>
    <p class="comments">{{activity.comments.comments.length}} Comments</p>
    </div>
  </md-card-actions>
  </md-card>
</div>