<!--   <button (click)="getChildren()">Get Children</button>
<div *ngIf="children">
  <ul>
	<li *ngFor="let child of children">
	  <a (click)="getDataObservable(child)" md-button>{{ child.first_name }}</a>
	</li>
  </ul>
</div> -->


<md-toolbar color="primary">
	<span>Room Selector</span>
	<span class="spacer"></span>
	<button md-icon-button [mdMenuTriggerFor]="menu">
		<md-icon>more_vert</md-icon>
	</button>

	<md-menu #menu="mdMenu">
		<button md-menu-item>
			<md-icon>fingerprint</md-icon>
			<span>Add a Room</span>
		</button>
		<button md-menu-item disabled>
			<md-icon>announcement</md-icon>
			<span>Issues</span>
		</button>
		<button md-menu-item>
			<md-icon>notifications_off</md-icon>
			<span>Disable Alerts</span>
		</button>
	</md-menu>
</md-toolbar>

<md-tab-group (selectChange)="onSelectChange($event)">
	<md-tab *ngFor="let room of roomsArray" label="{{room.title}}" >
		<md-grid-list cols="2" rowHeight="1:1">
			<md-grid-tile class="blue">
				<div style="padding: 25px; text-align: center;">
					<h2 style="top: 0; position: absolute; left:0; right:0; margin:auto; padding-top: 30px;">Children</h2>
					<md-list dense>
						<md-list-item *ngFor="let child of room.content">
						  <h4>{{ child.first_name }} {{ child.last_name }}</h4>
						  <button md-mini-fab color="warn" class="size-16" (click)="removeChild(room, child)">
						    <md-icon class="md-24 size-5">clear</md-icon>
						  </button>
						</md-list-item>
					</md-list>
					<br>
					<button md-raised-button color="primary" (click)="removeRoom(room)" ng-disabled="roomsArray.length <= 1">Remove Room</button>

					<form>
						<md-input-container style="width:50%; bottom: 0; left:0; right:0; margin:auto; position: absolute;  text-align: center;">
							<input mdInput placeholder="Child Name" [disabled]="true" [mdAutocomplete]="auto" [formControl]="childrenCtrl">
						</md-input-container>
						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let child of filteredChildren | async" [value]="child.name">
								<!-- {{ child.name }} -->
							</md-option>
						</md-autocomplete>
					</form>

				</div>
			</md-grid-tile>
			<md-grid-tile class="purple">
				<div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
					<h2 style="top: 0; position: absolute; left:0; right:0; margin:auto; padding-top: 30px;">Activties</h2>
					<a (click)="getDataObservable(room)" md-button>{{room.content}}</a>
					<br>
					<button md-raised-button color="primary" (click)="removeRoom(room)" ng-disabled="roomsArray.length <= 1">Remove Room</button>
				</div>
			</md-grid-tile>
		</md-grid-list>
	</md-tab>
</md-tab-group>

<form (submit)="addRoom(rTitle,rDescription)" layout="column" class="md-padding" style="padding-top: 0;">
	<div class="bottom-right">
		<label for="label">Room Title: </label>
		<input type="text" id="label"  [(ngModel)]="rTitle" name="title">

		<label for="content">Description</label>
		<input type="text" id="content"  [(ngModel)]="rDescription" name="description">
		<button  md-raised-button color="primary" type="submit">Add Room</button>
	</div>
</form>