<form class="login-page__form" (submit)="onLoginSubmit()">
	<div class="login-page__form__wrapper">
		<div id="loginPanel" class="login-page__form__content">
			<div class="login-page__form__content__wrapper">
				<div class="login-greeting">
					<h3 class="greetingmessage i-role-message">Good Morning!</h3>
					<p class="i-role-flavor-text">Welcome to the SMART Activity Planner Login.</p>
				</div>
				<div class="login-fields">
					<div class="login-inputs-wrap">
						<div class="login-input">
							<input [(ngModel)]="username" name="username" type="email" class="login-input__field" placeholder="Email" required>
							<div class="login-input__placeholder">Email</div>
							<div class="login-input__bar"></div>
						</div>
						<div class="login-input">
							<input type="password" [(ngModel)]="password" name="password" class="login-input__field" placeholder="Password" required>
							<div class="login-input__placeholder">Password</div>
							<div class="login-input__bar"></div>
						</div>
					</div>
					<div class="login-checkbox"> 
						<label for="RememberMe"> 
							<span class="login-checkbox__icon" tabindex="0"></span> 
							<input type="checkbox" name="remember" value="true" id="RememberMe"> Remember me 
						</label> 
						<a id="forgotPassword" class="login-forgot-link" href="#" data-nav="forgotPassword">Forgot your password?</a>
					</div>
					<div class="login-controls-wrap">
						<div class="login-button-wrap ">
							<div class="button-container"> <input type="submit" value="Login" class="login-button"> <span class="button-caption">Log in</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>