<div class="row container">
    <h5>Edit Activity</h5>
    <form #form="ngForm" class="col s12" novalidate>
      <div class="row">
        <div class="input-field col s6 m6">
        	<div class="form-group">
				<label>Activity Name</label>
				<input id="activity_name" type="text" class="form-control validate" name="activity_name" [(ngModel)]="activity_name">
			</div>
        </div>

        <div class="input-field col s6 m6">
        	<div class="form-group">
				<label>Activity Description</label>
          		<input id="activity_description" type="text" class="form-control validate" name="activity_description" [(ngModel)]="activity_description">
			</div>
        </div>
      </div>

      <div class="row">
			<div class="input-field col s6 m6">
				<select class="form-control" required #activity_type>
					<option *ngFor="let type of activityTypes" [value]="type.id">{{type.name}}</option>
				</select>
			</div>      
	  </div>

    <div class="row">
<!--             <div class="card-panel teal lighten-2 col s6 m6 l6" *ngIf="activityEdited" >{{info}}</div> -->
            <button  class="btn waves-effect waves-light right" type="submit" name="action" (click)="updateActivity()">Save Changes<i class="material-icons right">send</i></button>
            <a md-button class="btn right" (click)="goBack()"><i class="material-icons left">keyboard_return</i>Back</a>
    </div>
    </form>
  </div>

<!--This div is used to display toastr message-->
<div id="toast-container" style="top: auto !important; left: auto !important; bottom: 10%; right:5%;"></div>