
div.Lshell{
  float:left;
  border: 2px solid black;
  border-radius: 5px;
 width: 30%;
}
div.Mshell{
  float:left;
  border: 2px solid black;
  border-radius: 5px;
 width: 30%;
}
div.Rshell{
  float:left;
  border: 2px solid black;
  border-radius: 5px;
 width: 30%;
}
div.BodyShell{
  text-align: center;
  vertical-align:middle;
}
div.footerShell{
  text-align: center;
  vertical-align:bottom;
  border: 2px solid black;
  border-radius: 5px;
}
