
div.Lshell{
  margin-left: 5%;;
  float: left;
  border: 2px solid black;
  border-radius: 5px;
 width: 30%;
}
div.Mshell{
  float: left;
  border: 2px solid black;
  border-radius: 5px;
 width: 30%;
 margin-right: auto;
 margin-left: auto;
}
div.Rshell{
  float: left;
  border: 2px solid black;
  border-radius: 5px;
 width: 30%;
}
h1{
  text-align: center;
}
div.name{
  text-align: center;
  vertical-align:bottom;

}
a{
color: black;

}
