<html>
  <body>
    <h1><b> {{greeting}} {{userName}},<br> here are your children:</b></h1>
    <div>
      <md-list>
        <md-grid-list cols = "3"  *ngFor="let child of children">
            <a [routerLink]="['/timetable',child.childId]">
              <div class="shell">
                <img src="http://images.fandango.com/images/fandangoblog/everettcollection_topgun-170602.jpg" alt="Tom Cruise is now your child" class ="tomCruise">
                <div class="name">
                  {{child.firstName}} {{child.familyName}}
                </div>
              </div>
            </a>
        </md-grid-list>
      </md-list>
    </div>
  </body>
</html>
