
div.TopBoys{
  margin-top: 10px;

}

div.BottomBoys{
  width: 100%;
  height: 100%;
  }

div.Oshell{
  position:relative;
  border: 2px solid black;
  border-radius: 5px;
 width: 30%;
}
div.BodyShell{
  text-align: center;
  vertical-align:middle;
}
div.footerShell{
  text-align: center;
  vertical-align:bottom;
  border: 2px solid black;
  border-radius: 5px;
}
