<div class="jumbotron text-center">
  <h1>SMART Activity Planner</h1>
  <p class="lead">Welcome to OzEducation web portal for parents and staff. Please sign in</p>
  <div>
    <a *ngIf="!authService.loggedIn()" class="btn btn-primary" [routerLink]="['/register']">Register</a> <a *ngIf="!authService.loggedIn()" class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Announcement 1</h3>
    <p>Some information about a general announcement</p>
  </div>
  <div class="col-md-4">
    <h3>Announcement 1</h3>
    <p>Some information about a general announcement</p>
  </div>
  <div class="col-md-4">
    <h3>Announcement 3</h3>
    <p>Some information about a general announcement</p>
  </div>
</div>
