<div class="jumbotron text-center">
  <h1>SMART Activity Planner</h1>
  <p class="lead">Welcome to OzEducation web portal for parents and staff. Please sign in</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>YTB</h3>
    <p>We the best devs ever born</p>
  </div>
  <div class="col-md-4">
    <h3>Alan Boothe</h3>
    <p>Also known as the java-expert and is currently becoming a millionaire in dubai</p>
  </div>
  <div class="col-md-4">
    <h3>Chris Cabbage</h3>
    <p>Everyones favourite dad <3</p>
  </div>
</div>
