<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="home">
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th>Room Id</th>
				<th>Room Name</th>
				<th>Schedule ID</th>
				<th>Room Description</th>
				<th>Assigned Educator(s)</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			</thead>
			<tbody>
				<tr *ngFor="let room of rooms" [routerLink]="['/rooms/plan',room.id]" style="cursor: pointer;">
					<td> {{ room.id }} </td>
					<td> {{ room.name }} </td>
					<td> {{ room.schedule_id }} </td>
					<td> {{ room.description }} </td>
					<td><li *ngFor="let educator of room.educator">{{ educator }}</li></td>
					<td><a [routerLink]="['/rooms/edit',room.id]"><i class="material-icons center">mode_edit</i></a></td>
      				<td><a (click)="deleteRoom(room); $event.stopPropagation()"><i class="material-icons center red-text">delete</i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div class="fixed-action-btn">
    <a [routerLink]="['/rooms/create']" md-mini-fab><i class="large material-icons">add</i></a>
</div>