<!-- <div id="content-wrapper" [mnFullpage]="options"
[mnFullpageNavigation]="true"
[mnFullpageKeyboardScrolling]="true"
[mnFullpageSlidesNavigation]="true">

    <div class="section welcome-section active">
        <div>
            <h1>Welcome to the Room Planner!</h1>
            <h4>Please scroll to the required section</h4>
            <img class="logo-image" src="https://raw.githubusercontent.com/meiblorn/ng2-fullpage/develop/logo.png"/>
        </div>
    </div>

    <div class="section usage-section ">
      <h1>Children !</h1>
      <div class="code-block" style="margin-top:100px; width: 70%; height: 70%;">
        <table class="table table-striped" >
            <thead>
                <tr style="text-align: center;">
                  <th style="text-align: center;">First Name</th>
                  <th style="text-align: center;">Last Name</th>
                  <th style="text-align: center;">DOB</th>
                  <th style="text-align: center;">Allergens</th>
                  <th style="text-align: center;">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let child of enrolledChildren | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td> {{ child.first_name }} </td>
                    <td> {{ child.last_name }} </td>
                    <td> {{ child.dob }} </td>
                    <td> {{ child.allergens }} </td>
                    <td><a (click)="deleteRoom(room); $event.stopPropagation()"><i class="material-icons center red-text">delete</i></a></td>
                </tr>
            </tbody>
        </table>
        <h5 style="text-align: right;"><b>Total Children: {{ enrolledChildren.length }}</b></h5>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <div class="section usage-section ">
        <h1>Activities !</h1>
        
    </div>

    <div class="section start-use-it-now-section">
        <h1>TEMP!</h1>
    </div> 
</div> -->



<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
     <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div> 
</ng-template>

<div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange(viewDate)">
            Previous
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange(viewDate)">
            Today
          </div>
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange(viewDate)">
            Next
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            (click)="viewChange('month')"
            [class.active]="view === 'month'">
            Month
          </div>
          <div
            class="btn btn-primary"
            (click)="viewChange('week')"
            [class.active]="view === 'week'">
            Week
          </div>
          <div
            class="btn btn-primary"
            (click)="viewChange('day')"
            [class.active]="view === 'day'">
            Day
          </div>
        </div>
      </div>
    </div>
    <hr>
        <div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="true"
    (dayClicked)="viewDate = $event.day.date; view = 'day'"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (dayHeaderClicked)="viewDate = $event.day.date; view = 'day'"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [dayStartHour]="5"
    [dayEndHour]="17"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<hr>

<h3>
    <button class="btn btn-primary pull-right" (click)="addEvent()">Add new</button>
    <div class="clearfix"></div>
</h3>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Colours</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Options</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of events; let index = index">
      <td>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="event.title"
          (keyup)="refresh.next()">
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.primary"
          (change)="refresh.next()">
        <input
          type="color"
          [(ngModel)]="event.color.secondary"
          (change)="refresh.next()">
      </td>
      <td>
        <mwl-demo-utils-date-time-picker
          [(ngModel)]="event.start"
          (ngModelChange)="refresh.next()"
          placeholder="Not set">
        </mwl-demo-utils-date-time-picker>
      </td>
      <td>
         <mwl-demo-utils-date-time-picker
          [(ngModel)]="event.end"
          (ngModelChange)="refresh.next()"
          placeholder="Not set">
        </mwl-demo-utils-date-time-picker>
      </td>
      <td>
        
      </td>
      <td>
        <button
          class="btn btn-danger"
          (click)="events.splice(index, 1); refresh.next()">
          Delete
        </button>
      </td>
    </tr>
  </tbody>

</table>