<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="home">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Room Id</th>
				<th>Room Name</th>
				<th>Schedule ID</th>
				<th>Room Description</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			</thead>
			<tbody>
				<tr *ngFor="let room of Rooms">
					<td>THIS IS A TEST</td>
					<td>THIS IS A TEST</td>
					<td>THIS IS A TEST</td>
					<td>THIS IS A TEST</td>
					<td><a [routerLink]="['/rooms/edit',room]"><i class="material-icons center">mode_edit</i></a></td>
      				<td><a (click)="deleteRoom(room); $event.stopPropagation()"><i class="material-icons center red-text">delete</i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div class="fixed-action-btn">
    <a [routerLink]="['/rooms/create']"    md-mini-fab>
      <i class="large material-icons">add</i>
    </a>
</div>